[submodule "scanobjectnn"]
	path = scanobjectnn
	url = git@github.com:hkust-vgd/scanobjectnn.git
[submodule "Diffusion-3D-Features"]
	path = diff3f
	url = git@github.com:niladridutt/Diffusion-3D-Features.git
